html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: navy;
  text-decoration: none;
}

a:hover,
a:focus,
a:active {
  text-decoration: underline;
}

* {
  box-sizing: border-box;
}

.head.title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.round {
  margin-top: 30px;
  width: 150px;
  height: 150px;
}

main {
  margin: auto 300px;
}

.logo {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.blog .article {
  margin-bottom: 30px;
}

.blog .title {
  font-weight: bold;
  font-size: 20px;
}

.blog .published {
  color: gray;
  margin-top: 5px;
}

.blog .content {
  margin-top: 20px;
}

.back {
  margin-top: 20px;
  display: block;
}
